[submodule "linux"]
	path = linux
	url = https://github.com/analogdevicesinc/linux
	branch = 2018_R1
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl
	branch = hdl_2018_r1
[submodule "br2-external"]
	path = br2-external
	url = https://github.com/analogdevicesinc/br2-external.git
	branch = staging/add-adi-boards-packages
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/analogdevicesinc/u-boot.git
	branch = adi-xlnx-u-boot-2025.1-y-pluto-m2k
